*{
    margin: 0;
    padding: 0;
}

body {
    font-family:sans-serif;
    font-size: 14px;
    background-color: #FEFEFE;
}

.nome{
    width: 15%;
    margin: 10px;
    font-size: 15px;
    align-items: center;
}

.sair{
    background-color: #C6E7FF;
}


.perfil{
    border-radius: 50%;
}

header, #menu{
   display: flex;
   max-width: 90%;
   margin-left: 30px;
   margin-top: 20px;
}

#menu{
   flex: 1; /* isto é para a nav ocupar a largura toda menos a logo */
   justify-content: center; /* alinha horizontalmente */
   align-items: center; /* alinha verticalmente */
}


.menuu{
    list-style:none;
    float:left;
}

.menuu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
    border-left:1px solid #c0c0c0;
    border-radius: 5px;
}

.menuu li a{
    color: #0078CE; 
    text-decoration: none;
    padding:5px 10px;
    display:block;
}

.menuu li a:hover{
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}

.menuu li  ul{
    position:absolute;
    top:25px;
    justify-content: center;
    display:none;
    border-radius: 5px;
}

.menuu li:hover ul, .menuu li.over ul{display:block;}

.menuu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    border-radius: 5px;
}